In [2]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

# Import weather data from MongoDB

In [186]:
client = MongoClient()
db = client['walk']
weather = db['weather']
chi_weather = db['chi_weather']

In [187]:
chi_weather.find_one()

{'_id': ObjectId('5da9f8326a5b84eaf44fb32b'),
 'latitude': 41.8781,
 'longitude': -87.6298,
 'timezone': 'America/Chicago',
 'daily': {'data': [{'time': 978328800,
    'summary': 'Partly cloudy throughout the day.',
    'icon': 'partly-cloudy-day',
    'sunriseTime': 978355169,
    'sunsetTime': 978388287,
    'moonPhase': 0.22,
    'precipIntensity': 0,
    'precipIntensityMax': 0,
    'precipProbability': 0,
    'temperatureHigh': 27.24,
    'temperatureHighTime': 978375600,
    'temperatureLow': 6.54,
    'temperatureLowTime': 978418800,
    'apparentTemperatureHigh': 17.42,
    'apparentTemperatureHighTime': 978375600,
    'apparentTemperatureLow': -3.52,
    'apparentTemperatureLowTime': 978418800,
    'dewPoint': 10.96,
    'humidity': 0.77,
    'pressure': 1031.24,
    'windSpeed': 6.87,
    'windGust': 11.22,
    'windGustTime': 978382800,
    'windBearing': 320,
    'cloudCover': 0.52,
    'uvIndex': 2,
    'uvIndexTime': 978372000,
    'visibility': 9.692,
    'temperatureMin': 6.98,
    'temperatureMinTime': 978339600,
    'temperatureMax': 27.24,
    'temperatureMaxTime': 978375600,
    'apparentTemperatureMin': -0.89,
    'apparentTemperatureMinTime': 978411600,
    'apparentTemperatureMax': 17.42,
    'apparentTemperatureMaxTime': 978375600}]},
 'offset': -6,
 'date': datetime.datetime(2001, 1, 1, 0, 0)}

In [91]:
weather.find_one()

{'_id': ObjectId('5da38a2d6e91846929e3c790'),
 'latitude': 40.742,
 'longitude': -73.9073,
 'timezone': 'America/New_York',
 'daily': {'data': [{'time': 1136091600,
    'summary': 'Overcast throughout the day.',
    'icon': 'cloudy',
    'sunriseTime': 1136118060,
    'sunsetTime': 1136151594,
    'moonPhase': 0.07,
    'precipIntensity': 0.0002,
    'precipIntensityMax': 0.0017,
    'precipIntensityMaxTime': 1136142000,
    'precipProbability': 0.13,
    'precipType': 'rain',
    'temperatureHigh': 40.41,
    'temperatureHighTime': 1136149200,
    'temperatureLow': 35.61,
    'temperatureLowTime': 1136188800,
    'apparentTemperatureHigh': 39.74,
    'apparentTemperatureHighTime': 1136149200,
    'apparentTemperatureLow': 36.26,
    'apparentTemperatureLowTime': 1136188800,
    'dewPoint': 30.83,
    'humidity': 0.82,
    'pressure': 1017.05,
    'windSpeed': 1.53,
    'windGust': 4.54,
    'windGustTime': 1136091600,
    'windBearing': 314,
    'cloudCover': 0.95,
    'uvIndex': 1,
    'uvIndexTime': 1136134800,
    'visibility': 8.522,
    'temperatureMin': 30.73,
    'temperatureMinTime': 1136106000,
    'temperatureMax': 40.41,
    'temperatureMaxTime': 1136149200,
    'apparentTemperatureMin': 28.71,
    'apparentTemperatureMinTime': 1136098800,
    'apparentTemperatureMax': 39.74,
    'apparentTemperatureMaxTime': 1136149200}]},
 'offset': -5,
 'date': datetime.datetime(2006, 1, 1, 0, 0)}

In [73]:
pd.DataFrame(weather.find_one()['daily']['data'])

,time,summary,icon,sunriseTime,sunsetTime,moonPhase,precipIntensity,precipIntensityMax,precipIntensityMaxTime,precipProbability,...,uvIndexTime,visibility,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,1136091600,Overcast throughout the day.,cloudy,1136118060,1136151594,0.07,0.0002,0.0017,1136142000,0.13,...,1136134800,8.522,30.73,1136106000,40.41,1136149200,28.71,1136098800,39.74,1136149200

In [188]:
weather_df = pd.DataFrame()
weather_df.head()

Empty DataFrame
Columns: []
Index: []

In [189]:
# load extracted data into weather data frame
for day in weather.find():
    daily_data = day['daily']['data']
    if len(daily_data) == 0:
        print("No daily data for ", day['date'])
    else:
        daily_data[0]['date'] = day['date']
        weather_df = weather_df.append(daily_data[0], ignore_index=True)

# save weather dataframe as csv
weather_df.to_csv('../nyc_weather.csv')

In [190]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4929 entries, 0 to 4928
Data columns (total 41 columns):
apparentTemperatureHigh        4929 non-null float64
apparentTemperatureHighTime    4929 non-null float64
apparentTemperatureLow         4929 non-null float64
apparentTemperatureLowTime     4929 non-null float64
apparentTemperatureMax         4929 non-null float64
apparentTemperatureMaxTime     4929 non-null float64
apparentTemperatureMin         4929 non-null float64
apparentTemperatureMinTime     4929 non-null float64
cloudCover                     4929 non-null float64
date                           4929 non-null datetime64[ns]
dewPoint                       4929 non-null float64
humidity                       4929 non-null float64
icon                           4929 non-null object
moonPhase                      4929 non-null float64
precipIntensity                4929 non-null float64
precipIntensityMax             4929 non-null float64
precipIntensityMaxTime         2254 non-null float64
precipProbability              4929 non-null float64
precipType                     1965 non-null object
pressure                       4929 non-null float64
summary                        4929 non-null object
sunriseTime                    4929 non-null float64
sunsetTime                     4929 non-null float64
temperatureHigh                4929 non-null float64
temperatureHighTime            4929 non-null float64
temperatureLow                 4929 non-null float64
temperatureLowTime             4929 non-null float64
temperatureMax                 4929 non-null float64
temperatureMaxTime             4929 non-null float64
temperatureMin                 4929 non-null float64
temperatureMinTime             4929 non-null float64
time                           4929 non-null float64
uvIndex                        4929 non-null float64
uvIndexTime                    4929 non-null float64
visibility                     4929 non-null float64
windBearing                    4929 non-null float64
windGust                       4929 non-null float64
windGustTime                   4929 non-null float64
windSpeed                      4929 non-null float64
precipAccumulation             140 non-null float64
ozone                          257 non-null float64
dtypes: datetime64[ns](1), float64(37), object(3)
memory usage: 1.5+ MB

In [121]:
# investigate ozone non-null. Seem to be a new data point.
ozone = weather_df[~np.isnan(weather_df['ozone'])]
ozone.head()

,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,cloudCover,date,...,time,uvIndex,uvIndexTime,visibility,windBearing,windGust,windGustTime,windSpeed,precipAccumulation,ozone
4672,62.28,1.539806e+09,36.66,1.539864e+09,62.28,1.539806e+09,41.49,1.539774e+09,0.26,2018-10-17,...,1.539749e+09,4.0,1.539796e+09,9.813,278.0,19.98,1.539788e+09,8.66,NaN,297.9
4673,51.01,1.539893e+09,35.29,1.539943e+09,51.01,1.539893e+09,36.66,1.539864e+09,0.17,2018-10-18,...,1.539835e+09,4.0,1.539882e+09,9.949,312.0,15.12,1.539893e+09,8.56,NaN,312.5
4674,60.16,1.539976e+09,54.18,1.540030e+09,60.16,1.539976e+09,35.29,1.539943e+09,0.05,2018-10-19,...,1.539922e+09,4.0,1.539968e+09,9.863,236.0,10.93,1.539976e+09,6.38,NaN,296.1
4675,62.32,1.540066e+09,42.09,1.540123e+09,62.32,1.540066e+09,52.18,1.540091e+09,0.73,2018-10-20,...,1.540008e+09,3.0,1.540055e+09,9.894,244.0,11.31,1.540048e+09,7.76,NaN,295.7
4676,43.68,1.540120e+09,32.06,1.540206e+09,52.09,1.540094e+09,36.08,1.540174e+09,0.62,2018-10-21,...,1.540094e+09,2.0,1.540138e+09,9.916,325.0,24.19,1.540152e+09,9.83,NaN,331.0

# Load arrests data (historic)

In [237]:
arrests_hist_df = pd.read_csv('../nyc_hist.csv')
arrests_ytd_df = pd.read_csv('../nyc_ytd.csv')
arrests_df = pd.concat([arrests_hist_df, arrests_ytd_df], ignore_index=True,)

In [238]:
arrests_df['ARREST_DATE'] = pd.to_datetime(arrests_df['ARREST_DATE'])
arrests_df.columns = [x.lower() for x in arrests_df.columns]

In [239]:
arrests_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4911990 entries, 0 to 4911989
Data columns (total 18 columns):
arrest_key           int64
arrest_date          datetime64[ns]
pd_cd                float64
pd_desc              object
ky_cd                float64
ofns_desc            object
law_code             object
law_cat_cd           object
arrest_boro          object
arrest_precinct      int64
jurisdiction_code    float64
age_group            object
perp_sex             object
perp_race            object
x_coord_cd           float64
y_coord_cd           float64
latitude             float64
longitude            float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(8)
memory usage: 674.6+ MB

# Map new york

In [1]:
import folium

In [2]:
m = folium.Map(location=[40.7420, -73.9073], zoom_start=12, tiles='Stamen Terrain')

In [5]:
folium.Marker(location=[40.723011, -73.990142]).add_to(m)
folium.Marker(location=[40.729625, -73.991106]).add_to(m)


# for index in arrs.index:
#     folium.Marker(location=[arrs.loc[index, 'Latitude'], arrs.loc[index, 'Longitude']], 
#                   icon=folium.Icon()
#     ).add_to(m)

In [6]:
m

# Load database
Load arrests data and weather data into walk postgresql database

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql:///walk')

In [244]:
# load arrests_df into postgres database "walk"
arrests_df.to_sql('arrests', engine, index=False)

In [179]:
# load weather_df into postgres database "walk"
weather_df.to_sql('nyc_weather', engine, index=False)

## Load latitude, longitude coordinates into db

In [3]:
lat_longs_df = pd.read_csv('./geopandas/man_lat_longs.csv')
lat_longs_df.head()

   Unnamed: 0  latitude  longitude                           geometry  in_man
0         170    40.683    -74.023  POINT (-74.02300000000001 40.683)    True
1         313    40.684    -74.024             POINT (-74.024 40.684)    True
2         325    40.684    -74.012             POINT (-74.012 40.684)    True
3         455    40.685    -74.026  POINT (-74.02600000000001 40.685)    True
4         456    40.685    -74.025  POINT (-74.02500000000001 40.685)    True

In [4]:
lat_longs_df = lat_longs_df.loc[ : , 'latitude':'longitude']
lat_longs_df.head()

   latitude  longitude
0    40.683    -74.023
1    40.684    -74.024
2    40.684    -74.012
3    40.685    -74.026
4    40.685    -74.025

In [8]:
lat_longs_df.to_sql('manhattan_points', engine, index=True)

## Load dates into sql database

In [3]:
from weather import get_dates_list
from datetime import datetime

# get most recent date from NYC's year to date arrests
final_date_df = pd.read_csv('../nyc_ytd.csv', 
                    usecols=['ARREST_DATE'],
                    nrows=2)
final_date = datetime.strptime(final_date_df.loc[0, 'ARREST_DATE'], '%m/%d/%Y')

initial_date = datetime.strptime('01/01/2006', '%m/%d/%Y')

dates = get_dates_list(initial_date, final_date)

In [11]:
dates_df = pd.DataFrame(dates, columns=['date'])

In [12]:
dates_df.head()

        date
0 2006-01-01
1 2006-01-02
2 2006-01-03
3 2006-01-04
4 2006-01-05

In [13]:
dates_df.to_sql('dates', engine, index=True)

In [1]:
from results import get_backend_results
import folium

In [2]:
data = {
    'start_lat': '40.739960',
    'start_long': '-73.985315',
    'end_lat': '40.710029',
    'end_long': '-73.991583'
}

In [3]:
m, risk, warning = get_backend_results(data['start_lat'], 
                                        data['start_long'],
                                        data['end_lat'],
                                        data['end_long']
                                        )

200 OK

In [9]:
warning

"['Walking directions are in beta. Use caution â€“ This route may be missing sidewalks or pedestrian paths.']"